<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fruit.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @fruit.quantity %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @fruit.origin %>
</p>

<%= link_to 'Edit', edit_fruit_path(@fruit) %> |
<%= link_to 'Back', fruits_path %>
